// Colors
// @clr-red: #FF2E4C;
@clr-red: #FF2E3E;

@clr-white: #fff;

@clr-gray-0: #f6f4f4;
@clr-gray: #ede9e9;
@clr-gray-1: #dad2d2;
@clr-gray-2: #bfb0b0;
@clr-gray-3: #140e0e;

@clr-green: #3fb8af;

// Logo
@logo-font: 'Amaranth', sans-serif;

// Navigation Settings
@app-header-height: 6vh;
@app-footer-height: 10vh;

.auto-center() {
  margin-left: auto;
  margin-right: auto;
}
